/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

:root {
    --main-bg-color: #fff;
    --text-color: #2b2b2b;
    --primary-color: #047cb3;
    --secondary-color: #00cafd;
    --tertiary-color: #187288;
    --highlight-text-color: #fff;
    --visited-link-color: #651e9c;
    --border-color: hsla(0, 0%, 44%, 0.5);
    --button-border-color: rgba(0, 0, 0, 0.3);
    --secondary-button-bg-color: #149106;
    --svg-sun-color-1: #edc655;
    --svg-sun-color-2: #fcffad;
    --svg-sun-color-3: #f76414;
    --bold-font-weight: 700;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Tenor Sans', Montserrat, serif;
    font-weight: 400;
    font-size: 20px;
    min-height: 100vh;
}

h1 {
    color: var(--primary-color);
    font-size: 50px;
    font-weight: var(--bold-font-weight);
}

h2 {
    color: var(--primary-color);
    font-size: 32px;
    font-weight: var(--bold-font-weight);
}

p {
    line-height: 1.6;
}

a {
    color: var(--tertiary-color);
}
  
a:visited {
    color: var(--visited-link-color);
}

a:hover, a:focus {
    text-decoration: none;
}
    
a:active {
    color: var(--secondary-color);
}

.button__primary, .button__primary:visited {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid var(--button-border-color);
    color: var(--highlight-text-color);
    display: inline-block;
    font-family: inherit;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
  
.button__primary:hover, .button__primary:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: var(--secondary-button-bg-color);
    border: none;
    border-bottom: 2px solid var(--button-border-color);
    border-radius: 5px;
    color: var(--highlight-text-color);
    display: inline-block;
    font-family: inherit;
    padding: 10px;
    text-decoration: none;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
  
.button__secondary:hover, .button__secondary:focus {
    cursor: pointer;
    opacity: 0.8;
}

.contact-form__form {
    border: 1px solid var(--border-color);
    border-radius: 1em;
    -webkit-box-shadow: 5px 5px 5px var(--border-color);
            box-shadow: 5px 5px 5px var(--border-color);
    margin: 0 auto;
    padding: 1em;
}

.contact-form__input, .contact-form__textarea {
    background-color: var(--main-bg-color);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    color: var(--text-color);
    height: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 15px;
}

.contact-form__label {
    margin-left: 15px;
}

.contact-form__textarea {
    height: 100px;
    padding: 5px 15px;
}

table {
    margin: 0 auto;
}

#about-picture {
    margin-top: 100px;
}

/* header & main navigation */

.page-header {
    border-bottom: 1px solid var(--border-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px;
    width: 100%;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
}

.page-header__logo {
    height: 100px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin: 15px;
}

.navigation-list__item {
    padding: 10px 10px;
    position: relative;
    text-decoration: none;
}

.navigation-list__item--active {
    font-weight: var(--bold-font-weight);
}

/* navigation menu effect */

.navigation-list__item:before, .navigation-list__item:after {
    background: var(--primary-color);
    content: "";
    height: 2px;
    left: 0px;
    opacity: 0;
    position: absolute; 
    -webkit-transition: all 0.3s; 
    -o-transition: all 0.3s; 
    transition: all 0.3s;
    width: 100%;
}

.navigation-list__item:before {
    top: 0px;
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px);
}

.navigation-list__item:after {
    bottom: 0px;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
}

.navigation-list__item:hover:before, .navigation-list__item:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}

.profile {
    line-height: .5;
    margin: 50px auto;
    max-width: 700px;
}

.profile__portrait {
    border-radius: 50%;
    float: left;
    margin-right: 40px;
    width: 250px;
}

.page-main {
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1000px;
    text-align: center;
}

.page-footer {
    background-color: var(--primary-color);
    clear: both;
    color: var(--highlight-text-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
    text-align: center;
    width: 100%;
}

.page-footer__icon {
    height: 30px;
    width: 30px;
}

/* svg */
@-webkit-keyframes color-change {
    0% {
      fill: var(--svg-sun-color-1);
    }
    50% {
      fill: var(--svg-sun-color-2);
    }
    100% {
      fill: var(--svg-sun-color-3);
    }
  }
@keyframes color-change {
    0% {
      fill: var(--svg-sun-color-1);
    }
    50% {
      fill: var(--svg-sun-color-2);
    }
    100% {
      fill: var(--svg-sun-color-3);
    }
  }
  
@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    } 
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}
  
@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    } 
    to {
        -webkit-transform: translate(200px, 50px);
                transform: translate(200px, 50px);
    }
}

@-webkit-keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse {
    from {
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px);
    }
    to {
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}
.sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
}

.cloud-front {
    -webkit-animation: 26s cloud-move infinite alternate linear;
            animation: 26s cloud-move infinite alternate linear;
}

.cloud-back {
    -webkit-animation: 30s cloud-move-reverse infinite alternate linear;
            animation: 30s cloud-move-reverse infinite alternate linear;
}

/* projects section */

/* start grid fallback */
.project-list__item {
    border: 2px dashed var(--primary-color);
    display: inline-block;
    width: 33%;
   }

.project-list__item:hover, .project-list__item:hover h2, .project-list__item:hover a {
    color: var(--highlight-text-color);
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.project-list__item:hover {
    background-image: -webkit-gradient(linear, left top, right bottom, from(var(--primary-color)), to(var(--secondary-color)));
    background-image: -o-linear-gradient(top left, var(--primary-color), var(--secondary-color));
    background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
    border: 2px solid var(--main-bg-color);
    -webkit-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
            transform: rotate(-1deg);
}
/* end grid fallback */
   
   
@supports (display: grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        grid-gap: 20px;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .project-list__item {
        padding: 10px;
        width: auto;
    }

    .project-list__item:last-child {
        -ms-grid-column: 4;
        grid-column: 4;
        grid-column-start: 4;
        -ms-grid-column-span: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;
        grid-row-start: 1;
        -ms-grid-row-span: 2;
        grid-row-end: 3;
      }
}

@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 10px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .project-list__item:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .profile__portrait {
        width: 250px;
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}
       
@media screen and (max-width: 600px){
    .profile h1 {
        text-align: center;
    }

    .profile p {
        font-size: 20px;
        text-align: center;
    }
}