:root {
  --main-bg-color: #fff;
  --text-color: #2b2b2b;
  --primary-color: #047cb3;
  --secondary-color: #00cafd;
  --tertiary-color: #187288;
  --highlight-text-color: #fff;
  --visited-link-color: #651e9c;
  --border-color: hsla(0deg 0% 44% / 50%);
  --button-border-color: rgba(0 0 0 / 30%);
  --secondary-button-bg-color: #149106;
  --svg-sun-color-1: #edc655;
  --svg-sun-color-2: #fcffad;
  --svg-sun-color-3: #f76414;
  --bold-font-weight: 700;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  font-family: "Tenor Sans", Montserrat, serif;
  font-weight: 400;
  font-size: 20px;
  min-height: 100vh;
}

h1 {
  color: var(--primary-color);
  font-size: 50px;
  font-weight: var(--bold-font-weight);
}

h2 {
  color: var(--primary-color);
  font-size: 32px;
  font-weight: var(--bold-font-weight);
}

p {
  line-height: 1.6;
}

a {
  color: var(--tertiary-color);
}

a:visited {
  color: var(--visited-link-color);
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: var(--secondary-color);
}

.button__primary,
.button__primary:visited {
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid var(--button-border-color);
  color: var(--highlight-text-color);
  display: inline-block;
  font-family: inherit;
  padding: 10px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.button__primary:hover,
.button__primary:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button__secondary {
  background-color: var(--secondary-button-bg-color);
  border: none;
  border-bottom: 2px solid var(--button-border-color);
  border-radius: 5px;
  color: var(--highlight-text-color);
  display: inline-block;
  font-family: inherit;
  padding: 10px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.button__secondary:hover,
.button__secondary:focus {
  cursor: pointer;
  opacity: 0.8;
}

.contact-form__form {
  border: 1px solid var(--border-color);
  border-radius: 1em;
  box-shadow: 5px 5px 5px var(--border-color);
  margin: 0 auto;
  padding: 1em;
}

.contact-form__input,
.contact-form__textarea {
  background-color: var(--main-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 20px;
  color: var(--text-color);
  height: 40px;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 0 15px;
}

.contact-form__label {
  margin-left: 15px;
}

.contact-form__textarea {
  height: 100px;
  padding: 5px 15px;
}

table {
  margin: 0 auto;
}

#about-picture {
  margin-top: 100px;
}

/* header & main navigation */

.page-header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 20px;
  width: 100%;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__logo {
  height: 100px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin: 15px;
}

.navigation-list__item {
  padding: 10px;
  position: relative;
  text-decoration: none;
}

.navigation-list__item--active {
  font-weight: var(--bold-font-weight);
}

/* navigation menu effect */

.navigation-list__item::before,
.navigation-list__item::after {
  background: var(--primary-color);
  content: "";
  height: 2px;
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all 0.3s;
  width: 100%;
}

.navigation-list__item::before {
  top: 0;
  transform: translateY(10px);
}

.navigation-list__item::after {
  bottom: 0;
  transform: translateY(-10px);
}

.navigation-list__item:hover::before,
.navigation-list__item:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.profile {
  line-height: 0.5;
  margin: 50px auto;
  max-width: 700px;
}

.profile__portrait {
  border-radius: 50%;
  float: left;
  margin-right: 40px;
  width: 250px;
}

/* animation profile heading bounceIn */
@keyframes bounce-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  70% {
    transform: scale(1.2);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}

.profile__heading {
  animation: bounce-in 1s;
}

.page-main {
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 1000px;
  text-align: center;
}

.page-footer {
  background-color: var(--primary-color);
  clear: both;
  color: var(--highlight-text-color);
  display: flex;
  flex-direction: column;
  margin-top: auto;
  text-align: center;
  width: 100%;
}

.page-footer__icon {
  height: 30px;
  margin: 0 10px 10px 10px;
  width: 30px;
}

.page-footer__icon:hover,
.page-footer__icon:focus {
  animation: rotate-icon 1s ease-in-out;
}

@keyframes rotate-icon {
  0% {
    transform: rotate(360deg);
  }
}

/* svg */
@keyframes color-change {
  0% {
    fill: var(--svg-sun-color-1);
  }

  50% {
    fill: var(--svg-sun-color-2);
  }

  100% {
    fill: var(--svg-sun-color-3);
  }
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

.cloud-front {
  animation: 26s cloud-move infinite alternate linear;
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}

/* projects section */

/* start grid fallback */
.project-list__item {
  border: 2px dashed var(--primary-color);
  display: inline-block;
  width: 33%;
}

.project-list__item:hover,
.project-list__item:hover h2,
.project-list__item:hover a {
  color: var(--highlight-text-color);
  transition: transform 0.3s;
}

.project-list__item:hover {
  background-image: linear-gradient(to bottom right, var(--primary-color), var(--secondary-color));
  border: 2px solid var(--main-bg-color);
  transform: rotate(-1deg);
}

/* end grid fallback */

@supports (display: grid) {
  .project-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .project-list__item {
    padding: 10px;
    width: auto;
  }

  .project-list__item:last-child {
    grid-area: 1 / 4 / 3 / 5;
  }
}

@media all and (max-width: 500px) {
  .project-list {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .project-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .project-list {
    grid-gap: 10px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .project-list__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  body {
    font-size: 16px;
  }

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  .profile__portrait {
    width: 250px;
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  .profile h1 {
    text-align: center;
  }

  .profile p {
    font-size: 20px;
    text-align: center;
  }
}
